
<html>
        <% include header.ejs %>
      <head>
      
        <div id = "<%= title %> report" style="text-align:center;">
      　  <div style="margin:0 auto;font-size: 30px;"><strong><h1><%= title %> grades report</h1></strong></div>
        </div>
    
        <meta charset="UTF-8">
       <link rel='stylesheet' href='/stylesheets/table.css' />
        <script type="text/javascript" src="http://www.chartjs.org/dist/master/Chart.min.js"></script>
        <script type="text/javascript" src="http://www.chartjs.org/dist/master/Chart.bundle.min.js"></script>
        
        <div style="width: 60%; float:left">
        <div style="margin-right:100px; margin-top:100px">
    
        <table class="t1" >
         <thead>
            <tr>
                <th>Homework Number</th>
                <th>Homework Name</th>
                <th>Average</th>
              
            </tr>
          </thead>
            <tfoot>
        <tr><th colspan="2"></th></tr>
        </tfoot>
    
        <tbody>
               <%  for(let i=0; i < result.length; i++) { %>
            <tr>
                <th>#<%= i+1 %></th>
                <th><%= result[i].homeworkName %></th>
                <th><%= chartInfos[i] %></th>
            </tr>
            
              <%  }  %>
        <!-- <tr><th>Average</th><td></td><td><font color="#FF0000"><%= result.average  %></front></td></tr> -->
        </tbody>
        </table>
         </div>
        </div>
      </head>
    
      <div style="width: 40%; float:right">
      <body>
        <canvas  id="linechart" width="400" height="400"></canvas >
           
        <script>
            let chartInfo = []
            chartInfo.push(<%= chartInfos %>)
            let element = {
                labels: [],
                data: []
            }
        
            for(let i = 0 ; i < <%= result.length %>; i++) {
                element.labels.push(i+1)
                element.data.push(chartInfo[i])
            }
                

            var ctx = document.getElementById("linechart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: element.labels,
                    datasets: [{
                        label: 'Average',
                        data: element.data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        </script>
      </body>
     </div>
    
    
    
    
    </html>
    