<!DOCTYPE html>

<% include header.ejs %>

<div class="container services">
  <div class="well jumbotron">
    <h1><%= title %></h1>
  </div>
  <% if (locals.messages) { %>
    <div class="alert alert-danger" id="danger-alert">
        <button type=button class=close data-dismiss=alert>x</button>
        <strong><%= messages.msg %></strong>
    </div>
  <% } %>
  <script>
      $('#danger-alert').fadeTo(2000, 500).slideUp(500, function(){
          $('#danger-alert').alert('close');
        }); 
  </script>
  <table class="bordered" id="myTable">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Homework Name</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i=0; i < result.length; i++) { %>
        <tr>
          <td>
            <a href="/hw/<%= result[i].courseName %>" title="<%= result[i].courseName %>">
              <%= result[i].courseName %>
            </a>
          </td>
            
          <td>
            <select class="custom-select" id="selectedHomework<%= i %>" onChange="myFunction(selectedHomework<%= i %>)">
                <option value="0" selected="true" disabled="disabled">Choose Homework</option>
                  <% for(let q=0; q < result[i].hwinfo.length; q++) { %>
                  <option value="courseName=<%= result[i].hwinfo[q].homeworkName %>&&homework_id=<%= result[i].hwinfo[q].homework_id %>" id="<%= result[i].hwinfo[q].homeworkName %>"><%= result[i].hwinfo[q].homeworkName %></option>
                  <% } %>
            </select> 
          </td>

          <td>
            <a  href="/gradesReport/test?course=<%= result[i].courseName %>" id="test" style="text-decoration:none;" ><button class="btn btn-danger center-block">enter <%= result[i].courseName %></button></a>
      
          </td>
        </tr>
      <% } %>
        </tbody>
      </table> <br>
      <a  href="/gradesReport/generate?noSelect=true" id="SubmitBtn" style="text-decoration:none;" required><button class="btn btn-danger center-block">Genetrate Report</button></a>
      
  </div>

<script>
function myFunction(sel) {
  let changeValue=document.getElementById(sel.id).value
  let rows = document.getElementById('myTable')
                     .getElementsByTagName('tbody')[0]
                     .getElementsByTagName('tr').length
  
  for(let i=0; i<rows;i++){
    if(document.getElementsByTagName('select')[i].getAttribute('id')!=sel.id)
       document.getElementById("selectedHomework"+i).value="0"
  }
  document.getElementById("SubmitBtn").href = '/gradesReport/generate?'+changeValue;
  
}


</script>
<% include footer.ejs %>
